<?xml version="1.0"?>
<config>
  <modules>
    <Dmitri_Newsletter>
      <version>0.1.1</version>
    </Dmitri_Newsletter>
  </modules>
  <global>
    <models>
      <dmitrinewsletter>
        <class>Dmitri_Newsletter_Model</class>
      </dmitrinewsletter>
    </models>
    <events>
      <newsletter_subscriber_save_before>
        <observers>
            <Dmitri_Newsletter>
                <class>Dmitri_Newsletter_Model_Observer</class>
                <method>newsletterSubscriberSave</method>
            </Dmitri_Newsletter>
        </observers>
      </newsletter_subscriber_save_before>
    </events>
    <resources>
      <dmitrinewsletter_setup>
          <setup>
              <module>Dmitri_Newsletter</module>
          </setup>
          <connection>
              <use>core_setup</use>
          </connection>
      </dmitrinewsletter_setup>
      <dmitrinewsletter_read>
          <connection>
              <use>core_read</use>
          </connection>
      </dmitrinewsletter_read>
      <dmitrinewsletter_write>
          <connection>
              <use>core_write</use>
          </connection>
      </dmitrinewsletter_write>
    </resources>
  </global>
  <adminhtml>
    <events>
        <core_layout_block_create_after>
            <observers>
                <dmitri_newsletter_after_block>
                    <type>singleton</type>
                    <class>Dmitri_Newsletter_Model_Observer</class>
                    <method>blockCreateAfter</method>
                </dmitri_newsletter_after_block>
            </observers>
        </core_layout_block_create_after>
    </events>
  </adminhtml>
  <frontend>
      <layout>
          <updates>
              <Dmitri_Newsletter>
                  <file>dmitrinewsletter.xml</file>
              </Dmitri_Newsletter>
          </updates>
      </layout>
  </frontend>
</config>